.sidebar{
width: 75px;
position: fixed;
background-color: rgb(255, 255, 255);
left: 0;
top: 55px;
bottom: 0;
font-family: roboto, arial;
}

.sidebar-link{
  background-color: rgb(255, 255, 255);
  height: 76px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sidebar-link:hover{
  background: rgb(230, 230, 230);
}

.sidebar-link img{
  height: 24px;
  margin-bottom: 5px;
}

.sidebar-link div{
  font-size: 10px;

}

